body {
  margin: 0;
  font-family: -apple-system, "Favorit Pro", "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.05em;
}

code {
  font-family: 'Reno Mono', source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
